<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS,Asia/Shanghai} [%t] %-5level %logger{36}.%M - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/opzpy123.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd,Asia/Shanghai}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>64MB</maxFileSize>
            <!-- if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>5GB</totalSizeCap>
            <!-- keep 60 days -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,Asia/Shanghai} %p %c{1.}.%M [%t] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.opzpy123" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </logger>


    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>