<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<head>
    <meta charset="utf-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="opzpy123">
    <title>内联页面</title>
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="/brand/zicon.svg"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    <link href="/css/form-validation.css" rel="stylesheet">
</head>
<body>

<div class="py-1">
    <img class="d-block mx-auto mb-4 text-center" src="/brand/zicon.svg" alt="" width="72" height="72">
    <h2 class="text-center">创建天气任务</h2>
    <br class="mb-4">
    <form class="form-control-sm form-check  " action="/weather/weather" method="post">
        <div style="width: 40%;margin-left: 30%">
            <input id="userId" name="userId" th:value="${loginUser.id}" class="form-control" hidden>
            <input id="pushType" name="pushType" value="DAILY" class="form-control" hidden>

            <h6 class="px-1">任务名称</h6>
            <input id="weatherName" name="weatherName" class="form-control" placeholder="任务名称"
                   required autofocus>
            <br class="mb-4">

            <h6 class="px-1">bark推送地址</h6>
            <input id="barkId" name="barkId" class="form-control" placeholder="https://api.day.app/{yourBarkId}/"
                   required>
            <br class="mb-4">

            <h6 class="px-1">城市</h6>
            <input id="weatherCity" name="weatherCity" class="form-control" placeholder="北京" required>
            <br class="mb-4">

<!--            <h6 class="px-1">cron表达式(默认早7晚19)</h6>-->
<!--            <input id="cronExpression" name="cronExpression" class="form-control" placeholder="0 0 7,19 * * ? "-->
<!--                   value="0 0 7,19 * * ? " required>-->
<!--            <br class="mb-4">-->

            <h6 class="px-1">推送类型</h6>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="DAILY" value="DAILY" id="pushTypeInput" disabled
                       aria-label="pushType" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" style="margin: 0;padding: 0" id="basic-addon2">
                        <button type="button" onclick="pushTypeSelect('DAILY')" class="btn btn-secondary">日报</button>
                        <button type="button" onclick="pushTypeSelect('EARLY_WARNING')"
                                class="btn btn-secondary">预警</button>
                        <button type="button" onclick="pushTypeSelect('TEMPERATURE_DIFFERENCE')"
                                class="btn btn-secondary">温差</button>
                    </span>
                </div>
            </div>
            <br class="mb-4">

            <button class="btn btn-lg btn-primary btn-block" id="submitBtn" type="submit">提 交</button>
        </div>
    </form>
</div>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
    function pushTypeSelect(type) {
        $("#pushTypeInput").val(type);
        $("#pushType").val(type);
    }

</script>
</body>
</html>
