<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<head>
    <meta charset="utf-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="opzpy123">
    <title>内联页面</title>
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="/brand/zicon.svg"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body>

<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/brand/zicon.svg" alt="" width="72" height="72">
    <h2>创建天气任务</h2>
    <form class="form-signin" action="#" method="post">
        <div class="text-center">

            <input id="userId" name="userId" th:value="${loginUser.id}" class="form-control" hidden>

            <label for="barkId" class="sr-only">barkId</label>
            <input id="barkId" name="barkId" class="form-control" placeholder="barkId" required autofocus>
            <br class="mb-4">
            <label for="weatherCity" class="sr-only">城市</label>
            <input id="weatherCity" name="weatherCity" class="form-control" placeholder="城市" required>
            <br class="mb-4">
            <label for="cronExpression" class="sr-only">cron表达式</label>
            <input id="cronExpression" name="cronExpression" class="form-control" placeholder="cron表达式(默认早7晚19)"
                   value="* * 7,19 * * ?" required>
            <br class="mb-4">
            <button class="btn btn-lg btn-primary btn-block" id="submitBtn" type="submit">提 交</button>
        </div>
    </form>
</div>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>
