<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<head>
    <meta charset="utf-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="opzpy123">
    <title>内联页面</title>
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="/brand/zicon.svg"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">

</head>
<body>

<div class="py-1 text-center">
    <img class="d-block mx-auto mb-4" src="/brand/zicon.svg" alt="" width="72" height="72">
    <!--    <h2>交流</h2>-->
    <br class="mb-4">
</div>
<div class="container" style="padding-top: 0;margin-top: 0;height: 700px">
    <div class="jumbotron p-4 p-md-7  rounded  shadow"
         style="position: relative;margin-top: 0;padding-top: 0;height: 650px">
        <div id="switch" data-toggle="tooltip" data-placement="top" title="开启离线消息bark推送"
             style="display: block;float: right;position: relative;border-radius: 20px;cursor: pointer;border: 2px solid #dedcdd;height: 31px;width: 65px;background-color: #dedcdd">
            <div id="switchSub1"
                 style="position: absolute;top: 1px;left:2px;z-index: 99;width: 25px;height: 25px;border-radius: 13px;background-color: white"></div>
            <div id="switchSub2"
                 style="position: absolute;top: 1px;left:34px;z-index: 99;width: 25px;height: 25px;border-radius: 13px;background-color:white"></div>
        </div>
        <h4 style="margin: 0;padding: 0" class="text-center " th:text="${#authentication.principal['Username']}"></h4>
        <hr>
        <div class="row" id="box" style="height:480px;overflow-x:auto;white-space:nowrap;">
            <div class="col-lg-12" id="showMessage">
                <!--                <div style='text-align: right;height: 90px'>-->
                <!--                    <div style="float: right;margin-left: 12px;margin-top:12px;border-radius: 30px;width: 60px;height: 60px;background-color: #777"></div>-->
                <!--                    <div>-->
                <!--                        <h5 class="font-weight-light" style="display: inline;">-->
                <!--                            opzpy-->
                <!--                        </h5>-->
                <!--                        <div style="display: inline;color: #82817f;font-size: smaller">-->
                <!--                            121212-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <h5 class="text-white font-weight-light "-->
                <!--                        style="float: right;border-radius: 10px;padding:12px;width:fit-content;width:-webkit-fit-content;width:-moz-fit-content;background-color: #27b07c">-->
                <!--                        消息1212313-->
                <!--                    </h5>-->
                <!--                </div>-->
                <!--                <div style='height: 90px'>-->
                <!--                    <div style="float: left;margin-right: 12px;margin-top:12px;border-radius: 30px;width: 60px;height: 60px;background-color: #777"></div>-->
                <!--                    <div style="float: left">-->
                <!--                        <div>-->
                <!--                            <h5 class="font-weight-light" style="display: inline;">-->
                <!--                                12312-->
                <!--                            </h5>-->
                <!--                            <div style="display: inline;color: #82817f;font-size: smaller">-->
                <!--                                123-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <h5 class="text-white font-weight-light "-->
                <!--                            style="border-radius: 10px;padding:12px;width:fit-content;width:-webkit-fit-content;width:-moz-fit-content;background-color: #3988bc">-->
                <!--                            消息1212313-->
                <!--                        </h5>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
        <input id="inputValue" type="text" class=" rounded text-white"
               style="height: 40px;width: 70%;background-color: #1b1e21;position: absolute;bottom: 30px;left: 12%;">

        </input>
        <button id="inputBtn" class="btn btn-info"
                style="height: 40px;width: 80px;position: absolute;bottom: 30px;right: 12%">发送
        </button>

    </div>
</div>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    //进入房间
    $(window).ready(function () {
        $.ajax({
            url: "/talk/enter",
            type: "get",
            success: function (obj) {
                console.log(obj);
            }
        });
        loadMessage();
        scroll();
        var flag = "[[${loginUser.barkOfflineMessage}]]";

        if (flag === "0") {
            console.log("相同");
            $("#switch").css("background-color", "#dedcdd");
            $("#switchSub1").show()
            $("#switchSub2").hide()
        } else {
            $("#switch").css("background-color", "green");
            $("#switchSub1").hide()
            $("#switchSub2").show()
        }
    });

    window.onload = scroll;//不要括号
    function scroll() {
        var scrollDiv = document.getElementById('box');
        scrollDiv.scrollTop = scrollDiv.scrollHeight;
    }

    //退出房间
    window.onbeforeunload = function () {
        $.ajax({
            url: "/talk/exit",
            type: "get",
            success: function (obj) {
                console.log(obj);
            }
        });
    };

    var loginUser = "[[${#authentication.principal['Username']}]]"
    //接收消息
    window.setInterval(loadMessage, 200);


    function loadMessage() {
        $.ajax({
            url: "/talk/receive",
            type: "get",
            success: function (obj) {
                if (obj.data.length === 0) {
                    //未更新 不做处理

                } else {
                    //已更新
                    console.log("消息有更新，已刷新")
                    var MessageHtml = '';
                    $.each(obj.data, function (messageVoIndex, messageVo) {
                        if (loginUser === messageVo['userName']) {
                            MessageHtml += "<div style='text-align: right;height: 90px'>\n" +
                                "        <div style=\"float: right;margin-left: 12px;margin-top:12px;border-radius: 30px;width: 60px;height: 60px;background-color: #777\"></div>\n" +
                                "        <div>\n" +
                                "            <h5 class=\"font-weight-light\" style=\"display: inline;\">\n" +
                                messageVo['userName'] +
                                "            </h5>\n" +
                                "            <div style=\"display: inline;color: #82817f;font-size: smaller\">\n" +
                                messageVo['sendTime'] +
                                "            </div>\n" +
                                "        </div>\n" +
                                "        <h5 class=\"text-white font-weight-light \"\n" +
                                "            style=\"float: right;border-radius: 10px;padding:12px;width:fit-content;width:-webkit-fit-content;width:-moz-fit-content;background-color: #27b07c\">\n" +
                                messageVo['message'] +
                                "        </h5>\n" +
                                "    </div>"
                        } else {
                            MessageHtml += "<div style='height: 90px'>\n" +
                                "        <div style=\"float: left;margin-right: 12px;margin-top:12px;border-radius: 30px;width: 60px;height: 60px;background-color: #777\"></div>\n" +
                                "        <div style=\"float: left\">\n" +
                                "            <div>\n" +
                                "                <h5 class=\"font-weight-light\" style=\"display: inline;\">\n" +
                                messageVo['userName'] +
                                "                </h5>\n" +
                                "                <div style=\"display: inline;color: #82817f;font-size: smaller\">\n" +
                                messageVo['sendTime'] +
                                "                </div>\n" +
                                "            </div>\n" +
                                "            <h5 class=\"text-white font-weight-light \"\n" +
                                "                style=\"border-radius: 10px;padding:12px;width:fit-content;width:-webkit-fit-content;width:-moz-fit-content;background-color: #3988bc\">\n" +
                                messageVo['message'] +
                                "            </h5>\n" +
                                "        </div>\n" +
                                "    </div>"
                        }
                    })
                    $("#showMessage").html(MessageHtml);
                    scroll();
                }
            },
        })
    }

    //发送消息
    $("#inputBtn").click(function () {
        var inputValue = document.getElementById("inputValue").value;
        $.ajax({
            url: "/talk/send?message=" + inputValue,
            type: "get",
            success: function (obj) {
                document.getElementById("inputValue").value = "";
            }
        });
        scroll();
    })


    //监听回车键 发送消息
    document.onkeyup = function (e) {
        // 兼容FF和IE和Opera
        var event = e || window.event;
        var key = event.which || event.keyCode || event.charCode;
        if (key == 13) {
            var inputValue = document.getElementById("inputValue").value;
            $.ajax({
                url: "/talk/send?message=" + inputValue,
                type: "get",
                success: function (obj) {
                    document.getElementById("inputValue").value = "";
                }
            });
        }
    };
    //是否开启离线接收消息
    var flag = "[[${loginUser.barkOfflineMessage}]]";
    $("#switch").click(function () {
        if (flag === "0") {
            $("#switch").css("background-color", "green");
            $("#switchSub1").hide()
            $("#switchSub2").show()
            flag = 1;
            $.ajax({
                url: "/user/offline?state=" + 1,
                type: "get",
                success: function (obj) {
                }
            });
        } else {
            $("#switch").css("background-color", "#dedcdd");
            $("#switchSub1").show()
            $("#switchSub2").hide()
            flag = 0;
            $.ajax({
                url: "/user/offline?state=" + 0,
                type: "get",
                success: function (obj) {
                }
            });
        }
    });

</script>
</body>
</html>
