<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<head>
    <meta charset="utf-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="opzpy123">
    <title>内联页面</title>
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="/brand/zicon.svg"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    <style>
        li {
            /*li溢出做...处理*/
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
        }
    </style>
</head>
<body>

<div class="py-1 text-center">
    <img class="d-block mx-auto mb-4" src="/brand/zicon.svg" alt="" width="72" height="72">
    <h2>天气</h2>
    <!--    //显示正在运行中的天气数量-->
    <!--    //显示天气运行图表-->
    <!--    <p th:text="${loginUser.username}"></p>-->
    <br class="mb-4">
    <p th:text="${loginUser.username}+'的天气任务数量：'+${#lists.size(userWeathers)}"></p>
    <div style="margin-left: 6vw; width: 1200px;height: 100%; overflow-x:auto;white-space:nowrap;">
        <div th:if="${#lists.size(userWeathers)}!=0">
            <ul class="list-group list-group-horizontal" >
                <li class="list-group-item list-group-item-secondary" style="width: 220px">id</li>
                <li class="list-group-item list-group-item-secondary" style="width: 150px">任务名称</li>
                <li class="list-group-item list-group-item-secondary" style="width: 150px">城市</li>
                <li class="list-group-item list-group-item-secondary" style="width: 200px">cron表达式</li>
                <li class="list-group-item list-group-item-secondary" style="width: 100px">类型</li>
                <li class="list-group-item list-group-item-secondary" style="width: 80px">状态</li>
                <li class="list-group-item list-group-item-secondary" style="width: 200px">操作</li>
                <li class="list-group-item list-group-item-secondary" style="width: 100px">删除</li>
            </ul>

            <ul class="list-group list-group-horizontal" th:each="weather : ${userWeathers}" >
                <li class="list-group-item" style="width:  220px" th:text="${weather.id}"></li>
                <li class="list-group-item" style="width:  150px" th:text="${weather.weatherName}"></li>
                <li class="list-group-item" style="width:  150px" th:text="${weather.weatherCity}"></li>
                <li class="list-group-item" style="width:  200px" th:text="${weather.cronExpression}"></li>

                <li class="list-group-item" style="width:  100px" th:if="${weather.pushType.name}=='DAILY'">日报</li>
                <li class="list-group-item" style="width:  100px"
                    th:if="${weather.pushType.name}=='TEMPERATURE_DIFFERENCE'">温差
                </li>
                <li class="list-group-item" style="width:  100px" th:if="${weather.pushType.name}=='EARLY_WARNING'">预警
                </li>

                <li class="list-group-item" style="width:  80px" th:if="${weather.enabled}==1">
                    <div style="margin-left:30%;margin-top:5%;width:17px;height:17px ;border-radius: 10px;background-color:#28a745 "></div>
                </li>
                <li class="list-group-item" style="width: 80px" th:if="${weather.enabled}==0">
                    <div style="margin-left:30%;margin-top:5%;width:17px;height:17px ;border-radius: 10px;background-color:#dc3545  "></div>
                </li>

                <li class="list-group-item" style="width: 200px;padding: 6px">
                    <button type="button" th:value="${weather.id}" onclick="openWeather(this)" class="btn btn-primary"
                            style="width:60px;height: 25px;padding:0;margin: 5px">开启
                    </button>
                    <button type="button" th:value="${weather.id}" onclick="stopWeather(this)" class="btn btn-secondary"
                            style="width:60px;height: 25px;padding:0;margin: 5px">关闭
                    </button>
                </li>
                <li class="list-group-item" style="width:  100px;padding: 6px">
                    <button type="button" th:value="${weather.id}" onclick="delWeather(this)" class="btn btn-danger"
                            style="width:60px;height: 25px;padding:0;margin: 5px">删除
                    </button>

                </li>
            </ul>
        </div>
        <ul class="list-group list-group-horizontal " >
            <li class="list-group-item" style="width: 1200px">
                <button type="button" class="btn btn-primary" onclick="window.location.href='/weather/create'">创建新的天气任务
                </button>
            </li>
        </ul>
        <div style="height: 100px"></div>
    </div>

</div>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
    function openWeather(obj) {
        $.ajax({
            "url": "/weather/open?userWeatherId=" + obj.value,
            "type": "get",
            "success": function (obj) {
                window.location.href = "/dashboard/weather"
            },
            "error": function (obj) {
                alert(obj.message);
            }
        });
    }

    function stopWeather(obj) {
        $.ajax({
            "url": "/weather/stop?userWeatherId=" + obj.value,
            "type": "get",
            "success": function (obj) {
                window.location.href = "/dashboard/weather"
            },
            "error": function (obj) {
                alert(obj.message);
            }
        });
    }

    function delWeather(obj) {
        $.ajax({
            "url": "/weather/weather?userWeatherId=" + obj.value,
            "type": "delete",
            "success": function (obj) {
                window.location.href = "/dashboard/weather"
            },
            "error": function (obj) {
                alert(obj.message);
            }
        });
    }
</script>
</body>
</html>
