<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<head>
    <meta charset="utf-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="opzpy123">
    <title>修改</title>
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="/brand/zicon.svg"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body>
<div class="py-1 ">
    <div class="container">
        <div class="jumbotron p-4 p-md-7  rounded  shadow">
            <h2 class="text-center">发布</h2>
            <hr>
            <div class="row">
                <div class="col-lg-12">

                    <div class="form-inline"><h5 style="margin-right: 20px">标题:</h5><input id="title" style="width: 80%"
                                                                                           class="form-control"></div>
                    <br/>
                    <div class="form-inline"><h5 style="margin-right: 20px">简介:</h5><input id="intro" style="width: 80%"
                                                                                           class="form-control"></div>
                    <br/>
                    <div class="form-inline"><h5 style="margin-right: 20px">关于:</h5><input id="about" style="width: 80%"
                                                                                           class="form-control"></div>
                    <br/>
                    <div class="form-inline"><h5 style="margin-right: 20px">链接:</h5><input id="link" style="width: 80%"
                                                                                           class="form-control"></div>
                    <br/>

                    <div class="form-inline"><h5 style="margin-right: 20px">内容:</h5></div>
                    <br>
                    <div id="editor"></div>
                    <br>
                </div>
                <p th:if="${blog}==null" style="margin-left: 15px"><a style="font-size: larger;width: 100px"
                                                                      class="btn btn-primary"
                                                                      id="postBlog">发布</a></p>
                <p th:if="${blog}!=null" style="margin-left: 15px"><a style="font-size: larger;width: 100px"
                                                                      class="btn btn-primary"
                                                                      th:onclick="updateBlogFunc([[${blog.getId()+''}]])">修改</a>
                </p>
                <p th:if="${blog}!=null" style="margin-left: 15px"><a style="font-size: larger;width: 100px"
                                                                      class="btn btn-danger"
                                                                      th:onclick="deleteBlogFunc([[${blog.getId()+''}]])">删除</a>
                </p>
                <div><h6 style="margin-top: 8px;margin-left: 40px;color: #8e8f8e">tips:发布之后的内容可以在<a id="userCenter"
                                                                                                    style="color: #0069d9;cursor: pointer">个人中心</a>进行管理
                </h6></div>
                <br/>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>

<script type="text/javascript" th:inline="javascript">
    const E = window.wangEditor
    const editor = new E('#editor')
    editor.config.focus = false
    //修改内容回调函数
    editor.config.uploadImgServer = '/blog/upload'
    editor.config.uploadFileName  = 'file'
    // 配置 onchange 回调函数
    editor.config.onchange = onChangeCallBack;
    // 配置触发 onchange 的时间频率，默认为 200ms
    editor.config.onchangeTimeout = 500; // 修改为 500ms

    editor.create()

    //
    // // 重新设置编辑器内容
    // editor.txt.html('<p>用 JS 设置的内容</p>')
    // //继续追加内容。
    // editor.txt.append('<p>追加的内容</p>')
    // //获取内容
    // editor.txt.html()
    // //获取text
    // editor.txt.text()
    //
    // //json  editor.txt.getJSON()  editor.txt.setJSON([...])
    // //清空内容 editor.txt.clear()
    //
    function onChangeCallBack() {
        console.log("修改了内容")
    }


    // $(".w-e-toolbar").css("border","0")
    // $(".w-e-text-container").css("border","0")

    $("#postBlog").click(function () {
        var inputTitle = $("#title").val();
        var inputIntro = $("#intro").val();
        var inputAbout = $("#about").val();
        var inputLink = $("#link").val();
        var inputContent = editor.txt.html()
        var blog = JSON.stringify({
            "title": inputTitle,
            "intro": inputIntro,
            "about": inputAbout,
            "link": inputLink,
            "content": inputContent,
            "userName": [[${loginUser.username}]]
        });
        console.log(blog)
        $.ajax({
            data: blog,
            dataType: "json",
            url: "/blog",
            type: "POST",
            contentType: "application/json",
            success: function (res) {
                window.top.location.href = "/"
            }
        });
    })

    $("#userCenter").click(function () {
        window.top.location.href = "/user/center"
    })

    var updateBlog = [[${blog}]];
    console.log(updateBlog)
    if (updateBlog != null) {
        console.log(updateBlog)
        $("#title").val(updateBlog.title);
        $("#intro").val(updateBlog.intro);
        $("#about").val(updateBlog.about);
        $("#link").val(updateBlog.link);
        editor.txt.html(updateBlog.content)
    }

    function updateBlogFunc(blogId) {
        var inputTitle = $("#title").val();
        var inputIntro = $("#intro").val();
        var inputAbout = $("#about").val();
        var inputLink = $("#link").val();
        var inputContent = editor.txt.html()
        var blog = JSON.stringify({
            "id": blogId,
            "title": inputTitle,
            "intro": inputIntro,
            "about": inputAbout,
            "link": inputLink,
            "content": inputContent,
            "userName": [[${loginUser.username}]]
        });
        console.log(blog)
        $.ajax({
            data: blog,
            dataType: "json",
            url: "/blog",
            type: "PUT",
            contentType: "application/json",
            success: function (res) {
                window.top.location.href = "/user/center"
            }
        });
    }

    function deleteBlogFunc(blogId) {
        var blog = JSON.stringify({
            "id": blogId
        });
        $.ajax({
            data: blog,
            dataType: "json",
            url: "/blog",
            type: "DELETE",
            contentType: "application/json",
            success: function (res) {
                window.top.location.href = "/user/center"
            }
        });
    }
</script>
</body>
</html>
