<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="opzpy123">
    <title>opzpy123</title>
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="/brand/zicon.svg"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div th:insert="navbar :: nav"></div>
<p th:text="${#authentication.principal}"></p>


主页内容
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>

</body>
</html>
