<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="opzpy123">
    <title>opzpy123</title>
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="/brand/zicon.svg"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
</head>
<body>
<div th:insert="navbar :: nav"></div>
<!--<p th:text="${#authentication.principal}"></p>-->
<p style="margin-top: 40px"></p>
<!--//小分辨率下显示 大分辨率不显示-->
<!--d-block d-sm-block d-md-none d-lg-none d-xl-none-->
<!--//小分辨率不显示 大分辨率显示-->
<!--d-none d-sm-none d-md-block d-lg-block d-xl-block-->
<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark shadow">
        <div class="col-md-7 px-0">
            <h1 class="display-4 font-italic ">欢迎！</h1>
            <p class="lead my-3">这里是zpy的网站,各种功能自由使用</p>
            <p class="lead mb-0"><a href="/dashboard?path=talk" class="text-white font-weight-bold">Let's Talk...</a>
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">function</strong>
                    <h3 class="mb-0">天气推送</h3>
                    <div class="mb-1 text-muted" th:text="'Users '+${weatherNum}">Users 12</div>
                    <p class="card-text mb-auto">利用定时任务及通知推送bark app，定时推送天气信息、以及极端天气预警。</p>
                    <a href="/dashboard?path=weather" class="stretched-link">了解更多...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#45709E"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".2em">Weather</text>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">function</strong>
                    <h3 class="mb-0">个人网盘</h3>
                    <div class="mb-1 text-muted" th:text="'Users '+${netdiscNum}">Users 11</div>
                    <p class="mb-auto">用阿里oss做你的无限量空间网盘，存储一切你想存的东西，满速下载。</p>
                    <a href="/dashboard?path=netdisc" class="stretched-link">了解更多...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#578D63"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".2em">NetDisc</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Lighthouse
            </h3>

            <div class="blog-post" id="blogPost">
                <h2 class="blog-post-title" id="blogTitle" th:text="${blogs.get(0).getTitle()}">博客标题</h2>
                <p class="blog-post-meta"
                   th:text="'博客日期('+${blogs.get(0).getCreateTime()}+') by '+${blogs.get(0).getUserId()}">
                    博客日期(yyyy-MM-dd) by <a href="#">opzpy123</a></p>

                <p id="blogIntroduction" th:text="${blogs.get(0).getIntro()}">你好 这里是博客简介</p>
                <hr>
                <div id="blogContent">
                    <p>这里才是博客内容</p>
                    <!--                    <div id="div1" >-->
                    <!--                    </div>-->
                </div>
            </div>

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">上一篇</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">下一篇</a>
            </nav>

        </div>

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">关于</h4>
                <p class="mb-0" th:text="${blogs.get(0).getAbout()}">你好 <em>这里是斜体</em>. 这里是关于这篇文章的思考</p>
            </div>

            <div class="p-4">
                <h4 class="font-italic">目录</h4>
                <ol class="list-unstyled mb-0" th:each="blog : ${blogs}">
                    <li><a href="#" th:text="${blog.getTitle()}">文章1</a></li>
                </ol>
            </div>

            <div class="p-4">
                <h4 class="font-italic">链接</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/opzpy123" th:text="${blogs.get(0).getLink()}">这里应该是文章的引用出处</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->
<div th:insert="footer :: footer"></div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>

<script type="text/javascript">

    //设置内容
    var editorContent = '[[${blogs.get(0).getContent()}]]'
    var editorHtml = '';
    var parser = new DOMParser();
    var doc = parser.parseFromString(editorContent, "text/html");
    editorHtml += doc.documentElement.textContent;
    console.log(editorHtml);
    $("#blogContent").html(editorHtml);

</script>
</body>
</html>
