<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<head>
    <meta charset="utf-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="opzpy123">
    <title>内联页面</title>
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="/brand/zicon.svg"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/brand/zicon.svg" alt="" width="72" height="72">
        <h2>欢迎</h2>
    </div>
</div>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
    // $("#submitBtn").click(function () {
    //     var name = $("#name").val();
    //     var pwd = $("#password").val();
    //     $.ajax({
    //         url: '/user/login',
    //         type: 'get',
    //         data: {'name': name, 'pwd': pwd},
    //         dataType: 'json',
    //         success: function (data) {
    //             if (data.flag == 1) {
    //                 $('#alertTag').addClass("alert-success show").show()
    //                 location.href = '/';
    //             } else {
    //                 $('#alertTag').addClass("alert-warning show").show()
    //             }
    //         },
    //         error: function () {
    //             $('#alertTag').addClass("alert-warning show").show()
    //         }
    //     })
    // });
    //
    // // $('#liveToastBtn').click(function () {
    // //     $('.toast').toast('show')
    // // })
    //
    // $('#showTag').click(function showSuccess() {
    //     // $('#alertTag').addClass("alert-warning show").show();
    //     $('#alertTag').addClass("alert-success show").show();
    // });


</script>
</body>
</html>
