<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<body>
<!--导航条-->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow">
        <a class="navbar-brand" href="/">opzpy123</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard?path=dashboard">控制面板 <span class="sr-only">(current)</span></a>
                </li>
<!--                <li class="nav-item" sec:authorize="hasRole('ADMIN')">-->
<!--                    <a class="nav-link" href="/dashboard?path=log">-->
<!--                        <span data-feather="layers"></span>-->
<!--                        日志-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
            <ul class="navbar-nav" th:if="${#authentication.name}!='anonymousUser'">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false" th:text="${#authentication.name}"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/user/center">个人中心</a>
                        <a class="dropdown-item" href="/logout">退出登录</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" aria-label="Search">
                <p style="margin-left: 10px"></p>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </div>
    </nav>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>