<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="opzpy123">
    <title>opzpy123</title>
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="/brand/zicon.svg"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
    <style>
        #userAvatar:hover {
            transform: scale(1.05, 1.05);
            cursor: pointer;
            transition: 0.3s;
        }

        .mybtn:hover {
            transform: scale(1.05, 1.05);
            cursor: pointer;
            transition: 0.1s;
        }

        .mybtn {
            cursor: pointer;
            background-color: #6c757d;
            border-radius: 16px;
            margin: 12px;
            color: white;
        }

        .fileInput {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            display: block;
            width: 3.5rem;
            clear: both;
            display: block;
            margin: auto;
            background-color: red;
        }
        @media screen and (max-width: 768px) {
            .none {
                display: none;
            }
        }
    </style>
</head>
<body>
<div th:insert="navbar :: nav"></div>
<!--<p th:text="${#authentication.principal}"></p>-->
<p style="margin-top: 40px"></p>
<!--//小分辨率下显示 大分辨率不显示-->
<!--d-block d-sm-block d-md-none d-lg-none d-xl-none-->
<!--//小分辨率不显示 大分辨率显示-->
<!--d-none d-sm-none d-md-block d-lg-block d-xl-block-->
<div class="container">
    <div class="jumbotron p-4 p-md-7  rounded  shadow">
        <h1>个人中心</h1>
        <hr>
        <div class="row">
            <div class="col-lg-5">
                <svg class="bd-placeholder-img rounded-circle" id="userAvatar" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <image th:href="${loginUser.avatar}" width="100%" height="100%"/>
                </svg>
                <hr>
                <div id="userName" class="form-inline"><h3 th:text="'名字:'+${loginUser.username}">名字:</h3></div>
                <div id="userEmail" class="form-inline"><h3 th:text="'邮箱:'+${loginUser.email}">邮箱:</h3></div>
                <div id="userPhone" class="form-inline"><h3 th:text="'电话:'+${loginUser.phone}">电话:</h3></div>
                <p th:text="'Some representative placeholder content for the three columns of text below the carousel. This is the
                    first column.'"></p>
                <br>
                <p><a class="btn btn-secondary" id="changeUserInfo">修改个人信息</a></p>
            </div>
            <div class="col-lg-2"></div>
            <!--            <div class="col-lg-4 bg-dark rounded-lg">-->
        </div>
    </div>
    <div class="jumbotron p-4 p-md-7  rounded  shadow none"
         style="border-radius: 10px;position: fixed;right: 25px;top: 100px;height: 555px;width: 320px;background-color: #e9ecef">
        <div>
            <h3>我的博客</h3>
        </div>
        <hr>
        <div style="height:450px;border-radius: 6px;overflow-x:auto;white-space:nowrap;">
            <div th:if="${blogs.size()==0}">
                <div><h5 style="padding: 5px;padding-left: 15px">还没有内容？<a href="/dashboard?path=blog">发布</a></h5></div>
            </div>
            <div th:each="blog : ${blogs}">
                <div class="mybtn"><h5 style="padding: 5px;padding-left: 15px"
                                       th:onclick="toBlogDetail([[${blog.getId()}+'']])"
                                       th:text="${blog.getTitle()}+'-'+${blog.getUserName()}">中文呢121af </h5></div>
            </div>
        </div>
    </div>
</div>


<div th:insert="footer :: footer"></div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
    var i = 0;
    $("#changeUserInfo").click(function () {
        var username = "[[${loginUser.username}]]"
        var userEmail = "[[${loginUser.email}]]"
        var userPhone = "[[${loginUser.phone}]]"
        if (i === 0) {
            i = 1;
            // $("#userName").html("<h3>名字:</h3><input class=\"form-control\" placeholder=\""+username+"\">")
            $("#userEmail").html("<h3>邮箱:</h3><input id=\"userEmailInput\" class=\"form-control\" value=\"" + userEmail + "\" placeholder=\"" + userEmail + "\">")
            $("#userPhone").html("<h3>电话:</h3><input id=\"userPhoneInput\" class=\"form-control\" value=\"" + userPhone + "\" placeholder=\"" + userPhone + "\">")
            $("#changeUserInfo").removeClass("btn-secondary");
            $("#changeUserInfo").addClass("btn-success")
            $("#changeUserInfo").text("提交")
        } else {
            //提交个人信息
            var id1 = "[[${loginUser.id}]]"
            var email1 = $("#userEmailInput").val();
            var phone1 = $("#userPhoneInput").val();
            var user = JSON.stringify({"id": id1, "email": email1, "phone": phone1});
            console.log(user)
            $.ajax({
                data: user,
                dataType: "json",
                url: "/user/center",
                type: "PUT",
                contentType: "application/json",
                success: function (obj) {
                    window.location.href = "/user/center";
                }
            });
            i = 0;
            // $("#userName").html("<h3>名字:"+username+"</h3>")
            $("#userEmail").html("<h3>邮箱:" + userEmail + "</h3>")
            $("#userPhone").html("<h3>电话:" + userPhone + "</h3>")
            $("#changeUserInfo").addClass("btn-secondary");
            $("#changeUserInfo").removeClass("btn-success")
            $("#changeUserInfo").text("修改个人信息");

        }
    })


    function toBlogDetail(blog) {
        window.location.href = "/dashboard/blog?blogId=" + blog;
    }

    $('#userAvatar').after('<input type="file" id="load_xls" name="file" style="display:none" onchange ="uploadFile()">');
    $('#userAvatar').click(function () {
        document.getElementById("load_xls").click();
    });

    function uploadFile() {
        var myform = new FormData();
        myform.append('file', $('#load_xls')[0].files[0]);
        $.ajax({
            url: "/user/avatar",
            type: "POST",
            data: myform,
            contentType: false,
            processData: false,
            success: function () {
                window.location.href = "/user/center"
            }
        });
    };
</script>
</body>
</html>
